node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

#yarn add @react-navigation/material-top-tabs react-native-tab-view react-native-pager-view